<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="campfireSettings" type="CampfireTraceListener.Configuration.CampfireConfiguration, CampfireTraceListener" />
  </configSections>
  <campfireSettings 
    accountName="YOUR_ACCOUNT_NAME (e.g. https://accountname.campfirenow.com"
    authToken="YOUR_AUTH_TOKEN (found under your info)"
    roomId="The room id to post to (e.g. https://accountname.campfirenow.com/room/roomid)"
    useHttps="USE_HTTPS (depends on your account settings)"/>
  <system.diagnostics>
    <sharedListeners>
      <add name="default" type="CampfireTraceListeners.CampfireTraceListener, CampfireTraceListener" />
    </sharedListeners>
    <sources>
      <source name="CampfireTraceListenerDemo" switchName="verboseSwitch">
        <listeners>
          <add name="default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="verboseSwitch" value="Verbose" />
    </switches>
  </system.diagnostics>
</configuration>